@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-ubuntu);
  --font-mono: var(--font-fira-code);
}

body {
  background: var(--background);
  color: var(--foreground);
}
