@import "tailwindcss";

:root {
  --color-background: #f8f6ff;
  --color-textColor: #333333;
  --color-textSecColor: #666666;
  --color-foreground: #171717;
  --color-main: #7163ba;
  --color-fondoColor: #f2efff;
  --color-navBarHover: #fffbfb55;
  --color-whiteSpecial: #ffffff;
}

.dark {
  --color-background: #c7c7e6;
  /* --color-textColor: #424242; */
  --color-textSecColor: #666666;
  --color-foreground: #393943; /* elementos destacados */
  --color-main: #7163ba;
  --color-fondoColor: #9f9ac0; /* fondo de secciones secundarias */
  --color-navBarHover: #4a4a5755; /* hover sutil */
  --color-whiteSpecial: #ffffff;
}

@theme {
  --color-background: var(--color-background);
  --color-textColor: var(--color-textColor);
  --color-textSecColor: var(--color-textSecColor);
  --color-foreground: var(--color-foreground);
  --color-main: var(--color-main);
  --color-fondoColor: var(--color-fondoColor);
  --color-navBarHover: var(--color-navBarHover);
  --color-whiteSpecial: var(--color-whiteSpecial);

  --font-sans: var(--font-ubuntu), sans-serif;
  --font-mono: var(--font-fira-code), monospace;
}

html,
body,
#__next {
  height: 100%;
  color: var(--color-textColor);
}

/* ocultar barra de scroll */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

/* CAMBIAR COLOR BARRAS */
/* Chrome, Edge, Safari */
::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
}

/* Firefox */
* {
  scrollbar-color: var(--color-main) transparent;
}

:focus {
  outline: 2px solid #7163ba;
}

/* para el description que viene de la API */
.prose ul {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.prose li {
  margin-bottom: 0.5rem;
}
